Repository QNAV/RuoYi-X-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: 删除字典数据列表未刷新
  src/pages/system/dictDetails/components/ButtonRemove.tsx
Due: prettier --write, eslint --fix

chore: config
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  src/main.css
  src/main.tsx
  stylelint.config.cjs
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

chore: openapi
  openapi.config.ts
  src/services/index.ts
  templates/README.md
  templates/api.ejs
  templates/axios-http-client.ejs
  templates/base/README.md
  templates/base/data-contract-jsdoc.ejs
  templates/base/data-contracts.ejs
  templates/base/enum-data-contract.ejs
  templates/base/http-client.ejs
  templates/base/http-clients/axios-http-client.ejs
  templates/base/http-clients/fetch-http-client.ejs
  templates/base/interface-data-contract.ejs
  templates/base/object-field-jsdoc.ejs
  templates/base/route-docs.ejs
  templates/base/route-name.ejs
  templates/base/route-type.ejs
  templates/base/type-data-contract.ejs
  templates/default/README.md
  templates/default/api.ejs
  templates/default/procedure-call.ejs
  templates/default/route-types.ejs
  templates/modular/README.md
  templates/modular/api.ejs
  templates/modular/procedure-call.ejs
  templates/modular/route-types.ejs
  templates/procedure-call.ejs
  templates/route-types.ejs
Due: prettier --write, eslint --fix

chore: openapi
  openapi.config.ts
  src/services/system/Biz.ts
  src/services/system/CaptchaImage.ts
  src/services/system/CaptchaSms.ts
  src/services/system/Info.ts
  src/services/system/Login.ts
  src/services/system/Logout.ts
  src/services/system/Monitor.ts
  src/services/system/Register.ts
  src/services/system/Routers.ts
  src/services/system/SmsLogin.ts
  src/services/system/System.ts
  src/services/system/XcxLogin.ts
Due: prettier --write, eslint --fix

chore: config
  .prettierignore
  openapi.config.ts
  package.json
  pnpm-lock.yaml
  src/services/index.ts
  src/services/system/Biz.ts
  src/services/system/CaptchaImage.ts
  src/services/system/CaptchaSms.ts
  src/services/system/Info.ts
  src/services/system/Login.ts
  src/services/system/Logout.ts
  src/services/system/Monitor.ts
  src/services/system/Register.ts
  src/services/system/Routers.ts
  src/services/system/SmsLogin.ts
  src/services/system/System.ts
  src/services/system/XcxLogin.ts
  src/services/system/data-contracts.ts
  src/services/system/http-client.ts
  templates/api.ejs
  templates/axios-http-client.ejs
  templates/http-client.ejs
  templates/procedure-call.ejs
Due: prettier --write, eslint --fix

chore: config
  src/utils/request.ts
  templates/api.ejs
  templates/axios-http-client.ejs
  templates/procedure-call.ejs
  templates/route-docs.ejs
  templates/route-type.ejs
  templates/route-types.ejs
Due: prettier --write, eslint --fix

chore: config
  templates/api.ejs
  templates/procedure-call.ejs
  templates/route-docs.ejs
  templates/route-type.ejs
  templates/route-types.ejs
Due: none

chore: config
  lint-staged.config.js
  templates/http-client.ejs
Due: prettier --write, eslint --fix

chore(deps): update
  pnpm-lock.yaml
Due: none

chore: config
  package.json
  pnpm-lock.yaml
  src/layouts/index.tsx
  src/main.tsx
  src/pages/login/index.tsx
  src/utils/request.ts
  src/utils/requestCanceler.ts
Due: prettier --write, eslint --fix

chore: config
  openapi.config.ts
  package.json
  pnpm-lock.yaml
  src/main.tsx
  src/utils/request.ts
  src/utils/requestCanceler.ts
Due: prettier --write, eslint --fix

chore: config
  templates/api.ejs
  templates/data-contract-jsdoc.ejs
  templates/data-contracts.ejs
  templates/enum-data-contract.ejs
  templates/http-client.ejs
  templates/interface-data-contract.ejs
  templates/object-field-jsdoc.ejs
  templates/procedure-call.ejs
  templates/route-docs.ejs
  templates/route-name.ejs
  templates/route-type.ejs
  templates/route-types.ejs
  templates/type-data-contract.ejs
Due: none

chore: config
  openapi.config.ts
  src/pages/tool/gen-edit/components/DescBase.tsx
  src/pages/tool/gen-edit/components/EditableTableField.tsx
  src/pages/tool/gen-edit/index.tsx
  src/pages/tool/gen/components/ButtonDelete.tsx
  src/pages/tool/gen/components/ButtonDownload.tsx
  src/pages/tool/gen/components/ButtonImport.tsx
  src/pages/tool/gen/components/ButtonSync.tsx
  src/pages/tool/gen/components/ModalPreview.tsx
  src/pages/tool/gen/index.tsx
  src/services/gen/Tool.ts
  src/services/gen/data-contracts.ts
  src/services/system/Biz.ts
  src/services/system/CaptchaImage.ts
  src/services/system/CaptchaSms.ts
  src/services/system/Info.ts
  src/services/system/Login.ts
  src/services/system/Logout.ts
  src/services/system/Monitor.ts
  src/services/system/Register.ts
  src/services/system/Routers.ts
  src/services/system/SmsLogin.ts
  src/services/system/System.ts
  src/services/system/XcxLogin.ts
  src/services/system/data-contracts.ts
Due: prettier --write, eslint --fix

chore: 更新接口定义
  src/services/system/Biz.ts
  src/services/system/System.ts
  src/services/system/data-contracts.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,less})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,less}
