Repository QNAV/RuoYi-X-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: 更新接口定义
  src/services/sys/typings.d.ts
Due: prettier --write, eslint --fix

chore(deps): update
  .npmrc
  pnpm-lock.yaml
Due: none

chore(deps): update
  2.async.js
  230.async.js
  230.chunk.css
  366.async.js
  54.async.js
  789.async.js
  843.async.js
  p__403__index.async.js
  p__404__index.async.js
  p__demo__demo__index.async.js
  p__demo__tree__index.async.js
  p__home__index.async.js
  p__login__index.async.js
  p__monitor__admin__index.async.js
  p__monitor__cache__index.async.js
  p__monitor__druid__index.async.js
  p__monitor__job__index.async.js
  p__monitor__logininfor__index.async.js
  p__monitor__online__index.async.js
  p__monitor__operlog__index.async.js
  p__settings__index.async.js
  p__system__config__index.async.js
  p__system__dept__index.async.js
  p__system__dict__index.async.js
  p__system__menu__index.async.js
  p__system__notice__index.async.js
  p__system__oss__index.async.js
  p__system__post__index.async.js
  p__system__role__index.async.js
  p__system__user__index.async.js
  p__tool__build__index.async.js
  p__tool__gen-edit__index.async.js
  p__tool__gen__index.async.js
  p__tool__swagger__index.async.js
  t__plugin-layout__Layout.async.js
  t__plugin-maxtabs__Layout.async.js
  umi.js
Due: prettier --write, eslint --fix, stylelint --fix

chore: tab layout
  config/config.ts
  config/routes.ts
  src/app.tsx
  src/components/BasePageContainer/index.tsx
  src/pages/home/index.tsx
  src/pages/login/index.tsx
  src/utils/index.ts
  src/utils/routes.ts
Due: prettier --write, eslint --fix

chore: tab layout
  p__home__index.async.js
  p__login__index.async.js
  umi.js
Due: prettier --write, eslint --fix

chore(deps): update
  200.async.js
  230.async.js
  54.async.js
  54.chunk.css
  56.async.js
  789.async.js
  p__403__index.async.js
  p__404__index.async.js
  p__demo__demo__index.async.js
  p__demo__tree__index.async.js
  p__home__index.async.js
  p__login__index.async.js
  p__monitor__admin__index.async.js
  p__monitor__cache__index.async.js
  p__monitor__druid__index.async.js
  p__monitor__job__index.async.js
  p__monitor__logininfor__index.async.js
  p__monitor__online__index.async.js
  p__monitor__operlog__index.async.js
  p__settings__index.async.js
  p__system__config__index.async.js
  p__system__dept__index.async.js
  p__system__dict__index.async.js
  p__system__menu__index.async.js
  p__system__notice__index.async.js
  p__system__oss__index.async.js
  p__system__post__index.async.js
  p__system__role__index.async.js
  p__system__user__index.async.js
  p__tool__build__index.async.js
  p__tool__gen-edit__index.async.js
  p__tool__gen__index.async.js
  p__tool__swagger__index.async.js
  t__plugin-layout__Layout.async.js
  t__plugin-maxtabs__Layout.async.js
  umi.js
Due: prettier --write, eslint --fix, stylelint --fix

refactor: layout
  .prettierrc.js
  src/app.tsx
  src/columns/dept.ts
  src/components/BaseHeaderRightContent/index.tsx
  src/components/BasePageContainer/index.tsx
  src/components/index.ts
  src/constants/index.ts
  src/constants/style.ts
  src/features/ProComponentsProvider/index.tsx
  src/features/index.ts
  src/global.less
  src/pages/system/dept/components/DescDetails.tsx
  src/pages/system/user/index.tsx
  src/utils/token.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: layout
  54.async.js
  54.chunk.css
  843.async.js
  p__settings__index.async.js
  p__system__dept__index.async.js
  p__system__menu__index.async.js
  p__system__post__index.async.js
  p__system__role__index.async.js
  p__system__user__index.async.js
  p__tool__gen-edit__index.async.js
  p__tool__gen__index.async.js
  umi.css
  umi.js
Due: prettier --write, eslint --fix, stylelint --fix

refactor: layout
  config/config.ts
  config/routes.ts
  src/app.tsx
  src/pages/home/index.tsx
  src/pages/monitor/online/index.tsx
  src/pages/settings/index.tsx
  src/pages/system/dept/index.tsx
  src/pages/system/menu/index.tsx
  src/pages/system/post/index.tsx
  src/pages/system/role/index.tsx
  src/pages/tool/gen-edit/index.tsx
  src/pages/tool/gen/index.tsx
  src/utils/index.ts
  src/utils/is.ts
  src/utils/permissions.tsx
  src/utils/request.ts
  src/utils/routes.ts
Due: prettier --write, eslint --fix

refactor: layout
  360.async.js
  p__home__index.async.js
  p__monitor__online__index.async.js
  p__settings__index.async.js
  p__system__dept__index.async.js
  p__system__menu__index.async.js
  p__system__post__index.async.js
  p__system__role__index.async.js
  p__system__user__index.async.js
  p__tool__gen-edit__index.async.js
  p__tool__gen__index.async.js
  t__plugin-layout__Layout.async.js
  umi.css
  umi.js
Due: prettier --write, eslint --fix, stylelint --fix

fix: vite define
  vite.config.ts
Due: prettier --write, eslint --fix

chore(deps): update
  pnpm-lock.yaml
Due: none

feat: keep alive
  pnpm-lock.yaml
  src/components/BasePageContainer/index.tsx
  src/components/LoadingProgress/index.tsx
  src/components/index.ts
  src/global.less
  src/hooks/index.ts
  src/hooks/keepAlive.tsx
  src/layouts/components/HeaderContent.tsx
  src/layouts/components/HeaderTabs.tsx
  src/layouts/components/MenuItem.tsx
  src/layouts/index.tsx
  src/pages/demo1/index.tsx
  src/pages/demo2/index.tsx
  src/pages/exception/403/index.tsx
  src/pages/exception/404/index.tsx
  src/pages/exception/500/index.tsx
  src/pages/login/index.tsx
  src/routes.tsx
  src/utils/index.ts
  src/utils/lazyLoad.tsx
  src/utils/routes.tsx
  src/utils/validator.ts
  tailwind.config.js
Due: prettier --write, eslint --fix, stylelint --fix

chore: config
  .gitignore
  vite.config.ts
Due: prettier --write, eslint --fix

chore: config
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix

chore: ci
  .github/workflows/gh-pages.yml
Due: none

chore: gh
  index.html
  public/404.html
Due: none

chore: gh
  404.html
  index.html
Due: none

chore: gh
  vite.config.ts
Due: prettier --write, eslint --fix

chore(release): 0.0.1
  CHANGELOG.md
  package.json
Due: prettier --write

chore: gh
  public/404.html
Due: none

chore: gh
  404.html
Due: none

fix: routes
  src/routes.tsx
Due: prettier --write, eslint --fix

chore: gh
  package.json
  pnpm-lock.yaml
  src/main.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,less})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,less}
