Repository QNAV/RuoYi-X-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "*.{md,json}": [
    "prettier --write"
  ],
  "*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "prettier --write"
  ],
  "*.{css,less}": [
    "stylelint --fix",
    "prettier --write"
  ]
}

refactor: 用户管理
  src/components/WarpTableOption/index.tsx
  src/components/index.ts
  src/pages/system/user/components/ButtonAdd.tsx
  src/pages/system/user/components/ButtonExport.tsx
  src/pages/system/user/components/ButtonImport.tsx
  src/pages/system/user/components/ButtonRemove.tsx
  src/pages/system/user/components/TableMain.tsx
  src/pages/system/user/components/TreeDept.tsx
  src/pages/system/user/model/index.ts
Due: prettier --write, eslint --fix

refactor: 用户管理
  src/pages/system/user/components/ButtonEdit.tsx
  src/pages/system/user/components/ButtonImport.tsx
  src/pages/system/user/components/ButtonResetPwd.tsx
  src/pages/system/user/components/ModalResetPwd.tsx
  src/pages/system/user/components/TableMain.tsx
  src/pages/system/user/index.tsx
  src/pages/system/user/model/index.ts
Due: prettier --write, eslint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --write

chore: config
  .gitignore
  package.json
  pnpm-lock.yaml
  src/global.less
  src/main.tsx
  src/routes.tsx
  src/styles/nprogress.less
Due: prettier --write, eslint --fix, stylelint --fix

fix: 路由跳转
  src/layouts/components/MenuItem.tsx
Due: prettier --write, eslint --fix

perf: keep alive
  src/hooks/index.ts
  src/hooks/useKeepAlive.tsx
  src/hooks/useKeepAliveOutlets.tsx
  src/layouts/components/HeaderTabs.tsx
  src/models/keepAlive.ts
Due: prettier --write, eslint --fix

fix: type
  src/layouts/components/HeaderTabs.tsx
  src/routes.tsx
Due: prettier --write, eslint --fix

fix: style
  src/main.tsx
Due: prettier --write, eslint --fix

refactor: layout
  src/components/BasePageContainer/index.tsx
  src/global.less
  src/layouts/components/HeaderContent.tsx
  src/layouts/components/HeaderDropdown.tsx
  src/layouts/components/IconLogout.tsx
  src/layouts/components/IconSetting.tsx
  src/layouts/components/KeepAliveTabs.tsx
  src/layouts/index.tsx
Due: prettier --write, eslint --fix, stylelint --fix

feat: jotai
  package.json
  pnpm-lock.yaml
  src/main.tsx
  vite.config.ts
Due: prettier --write, eslint --fix

refactor: recoil -> jotai
  src/hooks/useInitActionType.ts
  src/hooks/useKeepAlive.tsx
  src/layouts/components/KeepAliveTabs.tsx
  src/layouts/index.tsx
  src/models/access.ts
  src/models/initialState.ts
  src/models/keepAlive.ts
  src/pages/system/dept/components/ButtonCreate.tsx
  src/pages/system/dept/components/ButtonDelete.tsx
  src/pages/system/dept/components/DescDetails.tsx
  src/pages/system/menu/components/ButtonCreate.tsx
  src/pages/system/menu/components/ButtonDelete.tsx
  src/pages/system/menu/components/DescDetails.tsx
  src/pages/system/post/components/ButtonAdd.tsx
  src/pages/system/post/components/ButtonEdit.tsx
  src/pages/system/post/components/ButtonExport.tsx
  src/pages/system/post/components/ButtonRemove.tsx
  src/pages/system/role/components/ButtonCreate.tsx
  src/pages/system/role/components/ButtonDelete.tsx
  src/pages/system/role/components/DescDetails.tsx
  src/pages/system/user/components/ButtonAdd.tsx
  src/pages/system/user/components/ButtonEdit.tsx
  src/pages/system/user/components/ButtonExport.tsx
  src/pages/system/user/components/ButtonImport.tsx
  src/pages/system/user/components/ButtonRemove.tsx
  src/pages/system/user/components/ButtonResetPwd.tsx
  src/pages/tool/gen/components/ButtonDelete.tsx
  src/pages/tool/gen/components/ButtonImport.tsx
  src/pages/tool/gen/components/ButtonPreview.tsx
  src/pages/tool/gen/components/ModalPreview.tsx
  src/pages/tool/gen/index.tsx
  src/pages/tool/gen/model/index.ts
Due: prettier --write, eslint --fix

chore: config
  package.json
  pnpm-lock.yaml
  src/global.less
  src/hooks/useRowClick.ts
  src/main.tsx
  src/pages/system/dept/model/index.ts
  src/pages/system/menu/model/index.tsx
  src/pages/system/post/components/ButtonRemove.tsx
  src/pages/system/post/components/ModalAddOrEdit.tsx
  src/pages/system/post/model/index.ts
  src/pages/system/role/model/index.ts
  src/pages/system/user/model/index.ts
  src/styles/nprogress.less
  src/utils/request.ts
  src/utils/tree.ts
  stylelint.config.cjs
Due: prettier --write, eslint --fix, stylelint --fix

chore: config
  src/layouts/components/Footer.tsx
  src/layouts/components/TabsKeepAlive.tsx
  src/layouts/index.tsx
  src/main.tsx
  src/models/access.ts
  src/models/initialState.ts
  src/utils/routes.tsx
Due: prettier --write, eslint --fix

refactor: login
  src/hooks/index.ts
  src/hooks/useLogout.ts
  src/layouts/components/IconLogout.tsx
  src/pages/login/components/FormLoginByPhone.tsx
  src/pages/login/components/FormLoginByPwd.tsx
  src/pages/login/index.tsx
  src/pages/settings/components/PwdForm.tsx
  src/utils/token.ts
Due: prettier --write, eslint --fix

fix: text
  src/pages/login/index.tsx
Due: prettier --write, eslint --fix

refactor: home
  src/pages/home/index.tsx
Due: prettier --write, eslint --fix

refactor: setting
  src/pages/settings/components/DescriptionsUser.tsx
  src/pages/settings/components/FormUpdatePwd.tsx
  src/pages/settings/index.tsx
Due: prettier --write, eslint --fix
