Repository QNAV/RuoYi-X-Admin: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix

fix: keep alive
  src/layouts/components/HeaderDropdown.tsx
  src/models/keepAlive.ts
Due: prettier --write, eslint --fix

perf: keep alive
  src/layouts/components/HeaderTabs.tsx
  src/models/keepAlive.ts
Due: prettier --write, eslint --fix

chore(deps): update
  package.json
  src/utils/permissions.ts
  src/utils/routes.tsx
Due: prettier --write, eslint --fix

chore(deps): update
  pnpm-lock.yaml
Due: none

chore(deps): update
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: routes access
  src/layouts/index.tsx
  src/models/access.ts
  src/routes.tsx
  src/utils/routes.tsx
Due: prettier --write, eslint --fix

fix: style
  src/pages/settings/index.tsx
Due: prettier --write, eslint --fix

feat: footer
  src/layouts/components/Footer.tsx
Due: prettier --write, eslint --fix

feat: footer
  assets/index.21f0b66f.css
  assets/index.a6035d43.css
  index.html
Due: prettier --write, stylelint --fix

feat: footer
  src/layouts/index.tsx
Due: prettier --write, eslint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
  src/main.tsx
Due: prettier --write, eslint --fix

refactor: layout
  postcss.config.cjs
  src/global.less
  src/layouts/components/Footer.tsx
  src/layouts/components/HeaderContent.tsx
  src/layouts/index.tsx
  src/routes.tsx
  tailwind.config.cjs
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix

refactor: 菜单管理
  src/constants/enum.ts
  src/pages/system/menu/components/ButtonCreate.tsx
  src/pages/system/menu/components/ButtonDelete.tsx
  src/pages/system/menu/components/DescDetails.tsx
  src/pages/system/menu/components/TreeContent.tsx
  src/pages/system/menu/components/TreeMenu.tsx
  src/pages/system/menu/components/TreeTitle.tsx
  src/pages/system/menu/index.tsx
  src/pages/system/menu/model/index.ts
  src/pages/system/menu/model/index.tsx
Due: prettier --write, eslint --fix

refactor: 菜单管理
  src/columns/index.ts
  src/columns/menu.ts
  src/pages/system/menu/components/ButtonCreate.tsx
  src/pages/system/menu/components/DescDetails.tsx
  src/pages/system/menu/components/TreeMenu.tsx
  src/pages/system/menu/model/index.tsx
Due: prettier --write, eslint --fix

fix: menu
  src/layouts/index.tsx
Due: prettier --write, eslint --fix

fix: redirect
  src/utils/request.ts
Due: prettier --write, eslint --fix

chore: config
  .husky/commit-msg
  .husky/pre-commit
  .lintstagedrc
  index.html
  lint-staged.config.js
  package.json
  pnpm-lock.yaml
  prettier.config.cjs
  public/404.js
  stylelint.config.cjs
  vite.config.ts
Due: prettier --write, eslint --fix

chore: config
  404.js
  index.html
Due: prettier --write, eslint --fix

chore(deps): update
  package.json
  pnpm-lock.yaml
  src/utils/routes.tsx
Due: prettier --write, eslint --fix

refactor: 岗位管理
  src/hooks/useRowClick.ts
  src/pages/system/post/components/ButtonRemove.tsx
  src/pages/system/post/components/ModalAddOrEdit.tsx
  src/pages/system/post/index.tsx
  src/pages/system/post/model/index.ts
Due: prettier --write, eslint --fix

chore: config
  package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 部门管理
  src/columns/dept.ts
  src/pages/system/dept/components/ButtonCreate.tsx
  src/pages/system/dept/components/ButtonDelete.tsx
  src/pages/system/dept/components/DescDetails.tsx
  src/pages/system/dept/components/TreeDept.tsx
  src/pages/system/dept/model/index.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: ((any of: *.{md,json}) or (any of: *.{js,jsx,ts,tsx})) or (any of: *.{css,less})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  stylelint --fix: any of: *.{css,less}
